html {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,  white, rgb(156, 156, 156));
}

#login-id {
    width: 200px;
    /*margin: 0px auto 0px; Antiga forma de centralizar */
    background-color: rgb(39, 39, 39);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    border-radius: 12.5px;
    text-align: center;
    position: absolute;

    /*Nova forma de centralizard*/
    left: 50%; top: 47.5%;
    transform: translate(-50%, -50%);
}

body {
    font: normal 15px Arial;
    color: white;
    /* background-color: rgb(255, 255, 255); */
}

#erro-id {
    font-size: 12px;
    background-color: rgb(112, 31, 31);
    margin: 5px 13px ;
    border: 2px solid rgb(112, 31, 31);
}
#sugestão-link{
    color: rgb(112, 31, 31);
}
#sugestão{
    font-size: 13px;
}
#titulo-id{
    font-size: 20px;
}