html {
    background-color: white;
}

#login-id {
    
    width: 200px;
    margin: 160px auto 0px;
    background-color: rgb(39, 39, 39);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    
    border-radius: 15px;
    /* integração */
    text-align: center;
}

body {
    font: normal 15px Arial;
    color: white;
    background-color: rgb(255, 255, 255); 
}
/*
#by{
    width: 200px;
    margin: 0px auto 0px;
    background-color: rgb(92, 6, 6);
    border-radius: 2px;
    text-align: center;
    border: 2px solid rgb(92, 6, 6);
}
*/
#erro-id {
    font-size: 12px;
    background-color: rgb(112, 31, 31);
    margin: 5px 13px ;
    border: 2px solid rgb(112, 31, 31);
}
